location / {
    auth_basic           "Dev area";
    auth_basic_user_file {{ registry_htpasswd_file_path }};
    proxy_pass http://localhost:{{ registry_host_port }};
    client_max_body_size 2g;
}

location /metrics {
    auth_basic           "Dev area";
    auth_basic_user_file {{ registry_htpasswd_file_path }};
    proxy_pass http://localhost:{{ registry_host_debug_port }};
}
