# managed by ansible
server {
    server_name {{ nginx_dns_name }};
    listen 443 ssl;

    root {{ nginx_www_root }}{{ nginx_dns_name }};
    index index.html;

    ssl_certificate /etc/letsencrypt/live/{{ nginx_dns_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx_dns_name }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    access_log /var/log/nginx/{{ nginx_dns_name }}_access.log;
    error_log /var/log/nginx/{{ nginx_dns_name }}_error.log;


    {{ nginx_locations|join("\n") }}
}

server {
    server_name {{ nginx_dns_name }};
    listen 80;

    location / {
        return 301 https://$host$request_uri;
    }

    location /.well-known/ {
        root {{ nginx_well_known_location }};
    }
}
