# managed by ansible
server {
    server_name {{ nginx_dns_name }};
    listen 80;

    index index.html;

    root {{ nginx_www_root }}{{ nginx_dns_name }};


    {% if nginx_htpasswd_users|length > 0 %}

        location / {
            auth_basic           "Dev area";
            auth_basic_user_file {{ nginx_htpasswd_file_path }};
            try_files $uri $uri/ =404;
        }

    {% else %}

        location / {
            try_files $uri $uri/ =404;
        }

    {% endif %}

    location /.well-known/ {
        root {{ nginx_well_known_location }};
    }

}
