# my global config
global:
  scrape_interval:     15s
  evaluation_interval: 30s

scrape_configs:
- job_name: prometheus

  honor_labels: true
  # scrape_interval is defined by the configured global (15s).
  # scrape_timeout is defined by the global default (10s).

  # metrics_path defaults to '/metrics'
  # scheme defaults to 'http'.

  static_configs:
  - targets: ['localhost:9090']

- job_name: node_exporter
  scheme: https
  metrics_path: /_metrics
  static_configs:
    - targets:
      - {{ prometheus_extra_static_configs_targets|join('\n      - ') }}

- job_name: drone
  scheme: https
  static_configs:
    - targets:
      - ci.sakisv.cloud

- job_name: grafana
  scheme: https
  static_configs:
    - targets:
      - grafana.sakisv.cloud

- job_name: registry
  scheme: https
  basic_auth:
    username: "{{ vault_registry.htpasswd_users.prometheus.username }}"
    password: "{{ vault_registry.htpasswd_users.prometheus.password }}"
  static_configs:
    - targets:
      - registry.sakisv.cloud

