[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
Type=simple
ExecStart={{node_exporter_installation_path}}/node_exporter --web.listen-address=":{{ node_exporter_port }}"

[Install]
WantedBy=multi-user.target
