{% if nginx_htpasswd_users|length > 0 %}

    location / {
        auth_basic           "Dev area";
        auth_basic_user_file {{ nginx_htpasswd_file_path }};
        proxy_pass http://localhost:{{ app_host_port }};
    }

    location /static/ {
        root /data/{{ nginx_dns_name }}/;
    }

{% else %}

    location / {
        proxy_pass http://localhost:{{ app_host_port }};
    }

    location /static/ {
        root /data/{{ nginx_dns_name }}/;
    }

{% endif %}
